* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
}

header {
  background-color: #180027;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding {
  font-size: 2rem;
}

.nav-link {
  transition: 0.7s ease;
}

.nav-link:hover {
  color: #D17E02;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

form {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;

  /* max-width: 500px; */
  /* margin: 0 auto; */
  background: #595959;
  padding: 10px 20px;
  /* margin-top: 50px; */
  /* border-radius: 5px; */
  /* box-shadow: 1px 2px 10px #ddd; */
}

body {
  background: #161616;
}

.App {
  background: #161616;
}


/* .App { */
/* display: flex; */
/* flex-direction: column; */
/* justify-content: start;  */
/* width: 375px;
  min-height: 600px;
   max-height: 914;
  background: #161616;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px; 
  
} */

@media(max-width:768px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #0D0014;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }
}

article {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-radius: 10px;
  color: white;
  padding: 10px 16px;
  margin: 20px 15px 15px;
  background-color: #532470;
}

.items-preview:hover {
  box-shadow: 1px 3px 5px rgba(249, 251, 252, 0.1);
}

.button-add {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50%;
  width: 40px;
}

input {
  height: 70%;
  width: 80%;
  border-radius: 10px;
  background-color: #C7C5C5;
}

.task {
  float: left;
  margin-left: -150px;
}

.icons {
  color: #D17E02;
}
 
.error {
  color: white;
}